
/* Colors used: Dark classic blue (#0A1828), turquoise (#178582), gold (#BFA181) */

body{
    background-color: #0A1828;
}
.slider img{
    width: 60em;
    height: 25em;
}
.threePics{
    display: flex;
    gap: 4em;
    justify-content: center;
    gap: 4em;
}

.threePics img{
    width: 23em;
    height: 13em;
    border-radius: 1em;
    
}
.threePics img:hover{
    transition: 0.1s ease-in-out;
    scale: 1.2;
}

.threePics a {
    color: #f5c189;
}

.one, .two, .three, .four{
    display: flex;
    text-align: center;
}



.slideshow-container {
    width: 100%;
    overflow: hidden;
    max-width: 800px;
    position: relative;
    margin: 1em;
    border-radius: 1em;
}

.slide {
    display: none;
}

.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 2s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.title{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #178582;
    color: #f5c189;
    justify-content: space-around;
    border-radius: 2em;
}

.title h1{
    font-size: xx-large;
}

.title p{
    font-size: x-large;
}

.title img{
    width: 150px;
    height: 150px;
}



.head{
    display: flex;
    justify-content: center;
    align-items: center;
}

.body{
    display: flex;
    justify-content: center;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 4em;
}


@media(max-width: 1725px){
    .threePics{
        flex-direction: column;
    }
    .threePics img{
        width: 50em;
        height: 25em;
    }
}

@media(max-width: 1005px){
    .threePics img{
        width: 25em;
        height: 15em;
    }
}

@media(max-width: 817px){
    .slideshow-container {
        display: none;
    }
    .title p{
        font-size: large;
    }
    .title img{
        display: none;
    }
}

@media(max-width: 376px){
    .title h1{
        font-size: x-large;
    }
    .threePics img{
        width: 20em;
        height: 10em;
    }
}